/* - Homepage Items: 14px
- Detail Page: 16px 

### Fonts

- Family: [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans)
- Weights: 300, 600, 800

 */
:root {
  --DarkBlue-DM: hsl(209, 23%, 22%);
  --VeryDarkBlue-DMB: hsl(207, 26%, 17%);
  --VeryDarkBlue-LMT: hsl(200, 15%, 8%);
  --DarkGray-LMInput: hsl(0, 0%, 52%);
  --VeryLightGrayLMB: hsl(0, 0%, 98%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--VeryLightGrayLMB);
}
